html {
    background: url(Images/fond2212.jpg) no-repeat center center fixed;
    background-size:cover;
    margin: 0;
    padding: 0;
}
header , a 
{
text-align: center;
margin-bottom: 20px;
padding: 0.2%;
}
nav 
{
    text-align: center;
    background-image: url(Images/bg-menu.jpg);
    border: 3px white solid;
    padding: 5px;
    border-radius: 10px;
    align-items: baseline;
    
}
body {
    background-image: url(Images/bg-stone.jpg);
    background-size: cover;
    background-attachment: fixed; /* L'image de pierre reste fixe quand on scroll */
    
    /* C'est ici qu'on définit la largeur du site */
    width: 60%;         /* Ajuste ce % pour la largeur de ton site */
    max-width: 1400px;  /* Sécurité pour les très grands écrans */
    min-height: 100vh;  /* Force le site à aller jusqu'en bas */
    
    /* Le centrage parfait sans espace en haut */
    margin: 0 auto; 
    padding: 2%;
    
    /* Ta bordure grise principale */
    border-left: 5px rgb(255, 255, 255) solid;
    border-right: 5px rgb(255, 255, 255) solid;
    box-sizing: border-box; /* Très important pour que les bordures ne cassent pas la largeur */
}
p , ul
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: justify;     
}
footer 
{
    background-image: url(Images/bg-menu.jpg);
    background-size:reapeat;
    border: 3px white solid;
    padding: 2%;
    border-radius: 10px; 
}
.bloc-site {
    background-image: url(Images/bg-body.jpg);
    background-repeat: no-repeat;
    
    background-size:cover;
    border: 3px white solid;
    padding: 50px;
    border-radius: 10px;
}
h2
{
    text-align: center;
}
